@model RegistroNotas.Grupo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Grupo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Hora)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Hora)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Aula)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Aula)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Curso.NombreCurso)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Curso.NombreCurso)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoGrupo1.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoGrupo1.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PeriodoLectivo.NombrePeriodo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PeriodoLectivo.NombrePeriodo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Profesor.Cedula)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Profesor.Cedula)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdGrupo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
